mixin comment(comment)
    li.comment(id=comment._id)
        div.comment__info
            i.fas.fa-comment
            span.comment__owner=comment.owner.name
            span #{comment.createdAt.toString().substr(4, 11)}
            if String(comment.owner._id) === String(loggedInUser._id)
                span.comment__delete
                    i.fas.fa-trash-alt(data-id=comment._id)
        div.comment__text
            p #{comment.text}
