mixin video(video)
    div.video
        div.video__thumbnail 
            a(href="/videos/"+video._id) 
                img(src=video.thumbnailUrl, alt="Thumbnail of Video")
        div
            div.video__owner-data
                a(href="/users/"+video.owner._id) 
                    if video.owner.avatarUrl
                        if video.owner.avatarUrl.startsWith("http")
                            img(src=video.owner.avatarUrl, alt="Avatar of Video Owner")
                        else
                            img(src="/"+video.owner.avatarUrl, alt="Avatar of Video Owner")
                    else 
                        span 😺
                    span=video.owner.name
            div.video__summary
                a(href="/videos/"+video._id) 
                    h3=video.title
                    h5 #{video.meta.views} #{video.meta.views <= 1 ? "view" : "views"}