extends ../base
include ../mixins/comment

block main 
    div.video__player(data-id=video._id, data-username=loggedInUser.name)
        div
            video(src="/"+video.fileUrl, style="width: 600px;")
        div#videoControls.video__controls 
            span#playBtn.video__play-btn 
                i.fas.fa-play
            div.video__playtime
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            input#timeline.video__timeline(type="range", value="0", min="0", step="1")
            div.video__volume
                span#muteBtn 
                    i.fas.fa-volume-up
                input#volumeRange.video__volume-range(type="range", min="0", max="1", step="0.1")
            div.video__fullscreen
                span#fullscreenBtn 
                    i.fas.fa-expand
     
    div.video__data 
        div 
            h2=video.title
            a(href="/users/"+video.owner._id) 
                if video.owner.avatarUrl
                    if video.owner.avatarUrl.startsWith("http")
                        img(src=video.owner.avatarUrl, alt="Avatar of Video Owner", style="height:30px; width:30px; border-radius:50%;")
                    else
                        img(src="/"+video.owner.avatarUrl, alt="Avatar of Video Owner", style="height:30px; width:30px; border-radius:50%;")
                else 
                    span 😺
                span=video.owner.name
            p=video.description
            span #{video.meta.views} #{video.meta.views <= 1 ? "view" : "views"}
        if String(loggedInUser._id) === String(video.owner._id)
            hr
            div 
                a(href=`/videos/${video._id}/edit`) Edit Video &rarr;

    if loggedIn
        div.video__add-comments
            form#commentForm.video__comments-form
                textarea(cols="30", rows="10", placeholder="Write your comments here!")
                button(type="submit") Add comment

    div.video__comments
        ul
            each comment in video.comments.reverse()
                +comment(comment)

block scripts 
    script(src="/statics/js/videoPlayer.js") 
    script(src="/statics/js/comment.js") 
