extends ../base
include ../mixins/comment

block main 
    div.video__player(data-id=video._id, data-username=loggedInUser.name)
        div
            if !isHeroku 
                video(src=video.fileUrl)
            else
                video(src="/"+video.fileUrl)
        div#videoControls.video__controls 
            div.video-controls__play
                span#playBtn.video-controls__play-btn
                    i.fas.fa-play
                div.video-controls__playtime 
                    span#currentTime 00:00
                    span  /
                    span#totalTime 00:00
            input#timeline.video-controls__timeline(type="range", value="0", min="0", step="1")
            div.video-controls__volume
                span#muteBtn
                    i.fas.fa-volume-up
                input#volumeRange(type="range", min="0", max="1", step="0.1")
            div.video-controls__fullscreen
                span#fullscreenBtn
                    i.fas.fa-expand
     
    div.video__data 
        div 
            h2=video.title
            a.video__owner(href="/users/"+video.owner._id) 
                if video.owner.avatarUrl
                    if video.owner.avatarUrl.startsWith("http")
                        img(src=video.owner.avatarUrl, alt="Avatar of Video Owner")
                    else
                        img(src="/"+video.owner.avatarUrl, alt="Avatar of Video Owner")
                else 
                    span 😺
                span.video__owner-name=video.owner.name
            p.video__description=video.description
            p.video__views #{video.meta.views} #{video.meta.views <= 1 ? "view" : "views"}
        if String(loggedInUser._id) === String(video.owner._id)
            div.video__edit-button 
                a(href=`/videos/${video._id}/edit`) Edit Video &rarr;

    hr
    if loggedIn
        div.video__add-comments
            form#commentForm.video__comments-form
                textarea( placeholder="Write your comments here!", fixed)
                button.video__comments-btn(type="submit") Add comment

    div.video__comments
        ul
            each comment in video.comments.reverse()
                +comment(comment)

block scripts 
    script(src="/statics/js/videoPlayer.js") 
    script(src="/statics/js/comment.js") 
