extends ../base
include ../mixins/comment

block main 
    div.video-player(data-id=video._id, data-username=loggedInUser.name)
        div
            if video.fileUrl.startsWith("http") 
                video(src=video.fileUrl)
            else
                video(src="/"+video.fileUrl)
        div.video-player__controls#videoControls 
            div
                span#playBtn 
                    i.fas.fa-play
            div
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            div.video-player__timeline
                input#timeline(type="range", value="0", min="0", step="1")
            div.video-player__volume
                span#muteBtn 
                    i.fas.fa-volume-up
                input#volumeRange(type="range", min="0", max="1", step="0.1")
            div
                span#fullscreenBtn 
                    i.fas.fa-expand
    div.video-info  
        h2.video-info__title=video.title
        div.video-info__owner
            a.avatar.avatar--video(href="/users/"+video.owner._id) 
                if video.owner.avatarUrl
                    if video.owner.avatarUrl.startsWith("http")
                        img(src=video.owner.avatarUrl, alt="Avatar of Video Owner")
                    else
                        img(src="/"+video.owner.avatarUrl, alt="Avatar of Video Owner")
                else 
                    i.fas.fa-user
                span.video-info__owner--name=video.owner.name
        div
            p.video-info__description=video.description
            ul.video-info__hashtags
                each hashtag in video.hashtags
                    li=hashtag
        div.video-info__views
            span #{video.meta.views} #{video.meta.views <= 1 ? "view" : "views"} · 
            span #{video.createdAt.toString().substr(4, 17)}
        if String(loggedInUser._id) === String(video.owner._id)
            a.edit-button(href=`/videos/${video._id}/edit`)
                i.fas.fa-edit
                span Edit Video
    div.comments-section
        form.form#commentForm
            if loggedIn
                textarea.form__comment(placeholder="Write your comments here")
                button.form__button(type="submit") Add comment
            else 
                div.comments--not-login
                    span.form__convert Do you want to leave a comment?
                    a.form__convert--link(href="/login") Go to Login
        div.comments
            ul
                each comment in video.comments.reverse()
                    +comment(comment)

block scripts 
    script(src="/statics/js/videoPlayer.js") 
    script(src="/statics/js/comment.js") 
