extends ../base

block main 
    div
        video(src="/"+video.fileUrl, style="width: 600px;")
        div 
            button Play
            button Mute 
    div 
        div 
            h2=video.title
            a(href="/users/"+video.owner._id) 
                if video.owner.avatarUrl
                    if video.owner.avatarUrl.startsWith("http")
                        img(src=video.owner.avatarUrl, alt="Avatar of Video Owner", style="height:30px; width:30px; border-radius:50%;")
                    else
                        img(src="/"+video.owner.avatarUrl, alt="Avatar of Video Owner", style="height:30px; width:30px; border-radius:50%;")
                else 
                    span 😺
                span=video.owner.name
            p=video.description
            span #{video.meta.views} #{video.meta.views <= 1 ? "view" : "views"}
        if String(loggedInUser._id) === String(video.owner._id)
            hr
            div 
                a(href=`/videos/${video._id}/edit`) Edit Video &rarr;
